.background {
  fill: none;
  pointer-events: all;
}

path {
  stroke: #ccc;
}

/* lighten region fill on mouse over */
path:hover {
	fill-opacity: .7;
  stroke: #999;
}

/* map region tooltip styles for mouse over */
div.tooltip {   
 	position: absolute;           
	text-align: left;           
	width: auto;                  
	height: 36px;                 
	padding: 3px;             
	font-size: 10px;        
	background: white;   
	border: 1px solid #999;      
	border-radius: 3px;           
	pointer-events: none;         
}

/* state/ feature styles */
.state, .feature {
  fill: #ccc;
  stroke: #fff;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* bar table and graph styles */ 
.bar {
	height: 5px;
	border-color: #ccc;
	background-color: #39f;
}

/* data text label styles */
.data-text {
  fill-opacity: .5;
  font-size: 10px;
  font-weight: bold;
}

.label {
  fill-opacity: .5;
  font-size: 12px;
  font-weight: normal;
}

.state-label {
  fill: #333;
  fill-opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

.state-tooltip {
  fill-opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

/* city dots styles */
.capital {
  fill: #c33;
}

.city {
  fill: #e33;
}

/* county path styles */
.county {
  fill: #fff;
  fill-opacity: .1;
  stroke: #666;
  stroke-width: .2px;
}

/* states pop data choropleth color styles */
.s0{fill:rgb(242,242,242)}
.s1{fill:rgb(253,218,236)} 
.s2{fill:rgb(229,216,189)} 
.s3{fill:rgb(255,255,204)} 
.s4{fill:rgb(254,217,166)} 
.s5{fill:rgb(222,203,228)} 
.s6{fill:rgb(204,235,197)} 
.s7{fill:rgb(179,205,227)} 
.s8{fill:rgb(251,180,174)} 

/* counties, zip, district pop data choropleth color styles */
.c0 { fill:rgb(247,251,255); }
.c1 { fill:rgb(222,235,247); }
.c2 { fill:rgb(198,219,239); }
.c3 { fill:rgb(158,202,225); }
.c4 { fill:rgb(107,174,214); }
.c5 { fill:rgb(95,146,198); }
.c6 { fill:rgb(66,113,181); }
.c7 { fill:rgb(54,100,176); }
.c8 { fill:rgb(42,81,156); }

