.background {
  fill: none;
  pointer-events: all;
}

/* lighten region fill on mouse over */
path:hover {
	fill-opacity: .7;
  stroke: #999;
}

/* map region tooltip styles for mouse over */
div.tooltip {   
 	position: absolute;           
	text-align: left;           
	width: auto;                  
	height: 36px;                 
	padding: 3px;             
	font-size: 10px;        
	background: white;   
	border: 0px;      
	border-radius: 3px;           
	pointer-events: none;         
}

.feature {
  fill: #ccc;
  stroke: #fff;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.data-text {
  fill-opacity: .5;
  font-size: 10px;
  font-weight: bold;
}

.label {
  fill-opacity: .5;
  font-size: 12px;
  font-weight: normal;
}

.state-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

.state-tooltip {
  fill-opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

.city {
  fill: #c33;
}

.county {
  fill: none;
  stroke-width: .5px;
}


/* map choropleth color styles */
.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }