.background {
  fill: none;
  pointer-events: all;
}

/* lighten region fill on mouse over */
path:hover {
	fill-opacity: .7;
  stroke: #999;
}

/* map region tooltip styles for mouse over */
div.tooltip {   
 	position: absolute;           
	text-align: left;           
	width: auto;                  
	height: 42px;                 
	padding: 3px;             
	font: 8px;        
	background: white;   
	border: 0px;      
	border-radius: 3px;           
	pointer-events: none;         
}

.feature {
  fill: #ccc;
  stroke: #fff;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.state-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 12px;
  font-weight: bold;
  text-anchor: middle;
}

.city {
  fill: #c33;
}

.county {
  fill: none;
  stroke-width: .5px;
}